body{
  background:#FDFFF5;
}
  .container img {  
                -webkit-filter: blur(9px);  
                filter: blur(9px);  
            }  
  .container1 img {  
                border-radius: 60px 200px 60px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            } 
.header {
  overflow: hidden;
  background-color:#FDFFF5;
  padding: 20px 10px;
     
}

.header a {
  float: left;
  color: #C3073F;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 20px;
  font-family:'Bungee';
}

.animated { 
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            color:#C3073F;
         }
         
         @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
         @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
         }
         
         .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }

.header a.logo {
  font-size: 40px;
  font-weight: Extra-bold;
  color: #C3073F;
  font-family:'Inder';
}


.header a:hover {
  background-color: #FDFFF5;
  color: black;
}

.header a.active {
  background-color:  #FDFFF5;
  color: #C3073F;
}
.container {
  position: relative;
}



.header-right a {
  float: right;
  color:#C3073F;
}
    
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  .header-right {
    float: none;
    text-align: left;   
  }
  .footer{
     width:100%:
     text-align:center;
  }
 
}


 #ct{
height:150px; 
width:90%;
border:1px solid #C3073F ;
margin: 100px auto;
text-align:center;
position:relative;
color:#C3073F;
padding:15px;
}

span{
  background:#FDFFF5;
  color:#C3073F;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  top:-28px;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid ;
  transform:rotate(-45deg);  
  position:absolute;
  background:#FDFFF5;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent #C3073F transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent #C3073F;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent #C3073F transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color:#C3073F transparent transparent transparent;
}
p{padding-top:13px;font-size:18px}

.footer {
  padding: 20px; 
  text-align: center; 
  background:#FDFFF5;
  bottom:0;
  }


.footer a.top{
  font-size:20px;
  color:#C3073F;
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
}




.fa-twitter {
  background: #FDFFF5;
  color: #C3073F;
}

.fa-instagram {
  background: #FDFFF5;
  color: #C3073F;
}

.fa-linkedin {
  background: #FDFFF5;
  color: #C3073F;
}

.fa-reddit {
  background:#FDFFF5;
  color: #C3073F;
}

.fa-github {
  background:#FDFFF5;
  color: #C3073F;
}




/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #FDFFF5;
  color:#C3073F;
}




@media only screen and (max-width : 480px) {
   /* Smartphone view */
  

}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view */
 
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view\ */
   
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop */
   
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  color:black;
  background-color: #FDFFF5;
}

.card .title {
  color: #C3073F;
  font-size: 18px;
}

.timeline {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  color:black;
  background-color: #FDFFF5;
}

.timeline .title {
  color: #C3073F;
  font-size: 18px;
}

.cardblog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: justify;
  font-family: 'Inder';
  color:black;
  background-color: #FDFFF5;
}
