body{
background: rgb(71,118,230);
background: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}
* {
  box-sizing: border-box;
}
  
  .container1 img {  
                border-radius: 60px 200px 60px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            } 
.header {
  overflow: hidden;
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 20px 10px;
     
}

.header a {
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 20px;
  font-family:'Bungee';
}

.animated { 
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            color: #f5f5f5;
         }
         
         @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
         @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
         }
         
         .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }

.header a.logo {
  font-size: 40px;
  font-weight: 900;
  color:whitesmoke;
  font-family:'Inder';
}


.header a:hover {
  background-color: #FDFFF5;
  color: black;
}

.header a.active {
  background-color:  #FDFFF5;
  color: black;
}
.container {
  position: relative;
}



.header-right a {
  float: right;
  font-weight: 900;
  color:whitesmoke;
}
.contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  font-family: 'Inder';
  text-align: center;
   display: inline-block;
  background-color:  linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  color: white;
   font-size: 20px;
}
.contact .title {
  border: none;
  outline: 0;
  background-color:  linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  color: whitesmoke;
   margin: auto;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 28px;
}
    
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  .header-right {
    float: none;
    text-align: left;   
  }
  .footer{
     width:100%;
     text-align:center;
  }
 
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  height: 500px;
  flex-wrap: nowrap;
}

.flex-item-1 {
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 10px;
  display: flex;
  flex: 25%;
  background-size: cover;
  
}

.flex-item-2 {
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 10px;
  display: flex;
  flex: 25%;
  background-size: cover;
}

.flex-item-3 {
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 10px;
  display: flex;
  flex: 25%;
}

.flex-item-4 {
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 10px;
  display: flex;
  flex: 25%;
}
.ginfo {
  position: relative;
  font-weight: 900;
  font-size: 2em;
  color: white;
  
}

.ginfo .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ginfo .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.quote {
  margin: auto;
  width: 80%;
  padding: 10px;
  
}

.qbody {
  position: relative;
  padding: 10px;
  margin: auto;
  width: 100%;
  background: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  
  color:blanchedalmond;
  border-radius: 50px;
  font-family: 'Inder';
  text-align:center;
  font-size: 14px;
  line-height: 1.5;
  
}


p{padding-top:13px;font-size:18px}
.carousel-inner .item .carousel-caption{
  font-size: 80px;
  text-align: center;
  font-family: 'Inder';
  color:#ff005f;
  
}
.cardhead {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  font-size: 80px;
  text-align: center;
  font-family: 'Inder';
  color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}
/* Float two columns side by side */
.insp .column {
  float: left;
  width: 50%;
  padding: 0 10px;
}


.insprow {margin: 0 -5px;}

.insp .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .insp .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.insp .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  padding: 16px;
  text-align: center;
  font-family: 'Inder';
  color:black;
  background-color: #FDFFF5;
}

.footer {
  padding: 20px; 
  text-align: center; 
  background: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  bottom:0;
  }


.footer a.top{
  font-size:20px;
  color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
}




.fa-twitter {

  color: white;
}
.fa-instagram {
 
  color: white;
}

.fa-linkedin {
  
  color: white;
}

.fa-reddit {
  
  color: white;
}

.fa-github {
  
  color: white;
}




/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  color:black;
}




@media only screen and (max-width : 480px) {
   /* Smartphone view */
  

}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view */
 
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view\ */
   
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop */
   
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  color:black;
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.card .title {
  color:whitesmoke;
  font-size: 28px;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.timeline {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  color:black;
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.timeline .title {
  color: whitesmoke;
  
  font-size: 28px;
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.cardblog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: justify;
  font-family: 'Inder';
  color:whitesmoke;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

/*INterest page*/

.interests {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  color:white;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  font-family: 'Inder';
  text-align: center;
   display: inline-block;
   font-size: 20px;
}
.interests .title {
  border: none;
  outline: 0;
   margin: auto;
  display: inline-block;
  color:whitesmoke;
  background-color: black;
  text-align: center;
  width: 100%;
  font-size: 28px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.interests .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.interests .row {margin: 0 -5px;}

/* Clear floats after the columns */
.interests .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.interests .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.interests .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color:whitesmoke;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  padding: 16px;
  text-align: center;

  margin-bottom:30px;
}


/*ach page*/
.achcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  margin: auto;
  text-align:left;
  font-family: 'Inder';
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.achcard .title {
  color:white;
  font-size: 28px;
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}
.achcard .collapsible {
  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
  color:black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.achcard .active, .collapsible:hover {
  background-color:linear-gradient(90deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%) ;
}

.achcard .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: whitesmoke;
  background-color:linear-gradient(90deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%) ;
}
.achcard .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*feeds*/
.vidcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%; 
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  background-color:linear-gradient(90deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%) ;
}

.vidcard .title {
  color:white;
  font-size: 28px;

  background-color:linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.vidcard .vid{
width:100%;
height:450px;
}

.newscard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%; 
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  background-color:linear-gradient(90deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%) ;
}

.newscard .title {
  color:whitesmoke;
  font-size: 28px;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.newscard .news{
width:100%;
height:450px;
}
.factscard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%; 
  margin: auto;
  text-align: center;
  font-family: 'Inder';
  background-color:linear-gradient(90deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%) ;
}

.factscard .title {
  color:whitesmoke;
  font-size: 28px;
  background-color: linear-gradient(90deg, rgba(71,118,230,1) 5%, rgba(39,0,101,1) 88%);
}

.factscard .facts{
width:100%;
height:450px;
}